body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

table input {
    margin: 0 !important;
}
.force-wrap {
    word-wrap: break-word;
}
.force-text-right {
    text-align: right !important;
}
.force-text-center {
    text-align: center !important;
}