<h1>{{objects[objectId].name}} <small>{{objects[objectId].id}}</small></h1>
<div class="well">
    <property-chart canvas-width="900" canvas-height="200" properties-value="objects[objectId].properties"></property-chart>
</div>
<div class="row">
    <div class="span12">
        <form class="form-inline">
            <label class="control-label" for="category">Categories filter : </label>
            <select id="category" ng-model="category" ng-options="object for object in objects[objectId].properties | categoryFilter">
                <option value="">All</option>
            </select>
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="15%">Category</th>
                <th width="30%">Name</th>
                <th width="30%">Value</th>
                <th width="20%">Updates <em>(/s)</em></th>
                <th width="5%">Plot</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, property) in objects[objectId].properties | propertyCategoryFilter:category">
                <td><span class="label">{{property.category}}</span></td>
                <td><code>{{property.name}}</code></td>
                <td><code>{{property.value}}</code></td>
                <td><span class="badge">{{property.updatesPerSeconds}}</span></td>
                <td class="force-text-center">
                    <input type="checkbox" value="{{property.name}}" ng-checked="property.plot" ng-model="property.plot">
                </td>
            </tr>
            <tr ng-show="objects[objectId].numberOfProperties == 0">
                <td colspan="4" class="force-text-center">No properties</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>