<h1>{{objects[objectId].name}} <small>{{objects[objectId].id}}</small></h1>
<div class="well" property-chart canvas-width="900" canvas-height="100" properties-value="objects[objectId].properties"></div>
<div class="row">
    <div class="span12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="15%">Category</th>
                <th width="40%">Name</th>
                <th width="40%">Value</th>
                <th width="5%">Plot</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, property) in objects[objectId].properties">
                <td><span class="label">{{property.category}}</span></td>
                <td>{{property.key}}</td>
                <td><code>{{property.value}}</code></td>
                <td class="force-text-center">
                    <input type="checkbox" value="{{property.key}}" ng-checked="property.plot" ng-model="property.plot">
                </td>
            </tr>
            <tr ng-show="objects[objectId].numberOfProperties == 0">
                <td colspan="4" class="force-text-center">No properties</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>